<h1>Add a task</h1>

<%= form_for @task, url: create_path(id: @task_lists.id) do |f| %>

  <% if @task.errors.any? %>
    <div class="errors">
      <% @tasks.errors.full_messages.each do |message| %>
        <li><% message %></li>
     </div>
  <% end %>
  <% end %>

  <p>Description</p>
  <div>

    <%= f.text_field :description, autofocus: true %>
  </div>
  <div>
    <%= select_date Date.today, prefix: :date %>
  </div>
  <div>
    <%= f.hidden_field :list_id %>
  </div>
  <div>
    <%= f.submit "Create task" %>
  </div>
<% end %>


